Package: com.gviridis.definei
Name: Definei
Depends: mobilesubstrate
Version: 0.9.2
Architecture: iphoneos-arm
Description: define words with 3rd party dictionary
Maintainer: gviridis
Author: gviridis
Section: Tweaks
