Package: com.gviridis.definei
Name: Definei
Depends: mobilesubstrate
Version: 0.6
Architecture: iphoneos-arm
Description: Makes "Define" call 3rd party App
Maintainer: gviridis
Author: gviridis
Section: Tweaks
