Package: com.gviridis.defineitoggle
Name: defineitoggle
Depends: sbsettings
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome SBSettings toggle of some sort!!
Maintainer: gviridis
Author: gviridis
Section: Addons (SBSettings)